* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 38px 240px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
:root {
  --primary-color: rgb(255, 66, 165);
  --secondary-color: rgb(78, 197, 247);
}
.nav-gamer {
  display: flex;
  align-items: center;
}
.nav-gamer img {
  width: 86px;
}
.gamer-g {
  color: rgb(255, 66, 165);
  margin-left: 20px;
}
.nav-links > ul {
  display: flex;
  align-items: center;
}
.nav-links > ul li {
  margin-right: 32px;
}
.nav-links > ul li a {
  text-decoration: none;
  color: rgb(60, 53, 79);
}
.nav-links > ul li {
  list-style: none;
}
.follow {
  background-color: rgba(11, 2, 35, 0.1);
  box-sizing: border-box;
  padding: 17px 24px;
  border-radius: 8px;
}
.fa-youtube {
  color: red;
}

/* banner section  */
.banner {
  display: flex;
  justify-content: space-between;
}
.goat-container {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  padding: 147px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.banner-image {
  width: 100%;
}
.goat > h2 {
  font-size: 3rem;
}
.goat h1 {
  font-size: 5.9rem;
  background: linear-gradient(to right, rgb(249, 72, 178), rgb(135, 88, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.goat p > i {
  margin-right: 13px;
}
.btn {
  color: white;
  padding: 21px 40px;
  border-radius: 30px;
  border: 0;
}
.btn-banner {
  margin-top: 40px;
}
.btn-primary {
  background-color: var(--primary-color);
  margin-right: 16px;
}
.btn-secondary {
  background-color: var(--secondary-color);
}
@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
    padding: 20px;
  }
  .nav-gamer {
    margin: 4px auto;
  }
  .nav-links > ul {
    flex-direction: column;
  }
  .nav-links > ul li {
    margin: 10px auto;
  }
  .banner {
    flex-direction: column-reverse;
  }
}
